@charset "UTF-8";

/* Todas as demais midias */

/* Typical device breakpoints
-----------------------------

Pequeas telas: acima de 320 até 769px
Celular: 320px até 480px
Tablet: 481px até 768px
Desktop: 769px até 1200px.
Grandes Telas: acima de 1200px

*/

@media print { /* IMPRESSÃO */
body {
    background-image: url(../back-print.jpg); /*desnecessário */
    font-family: 'Courier New', Courier, monospace;
  
}
main {
    width: 90vw;
    border: 2px solid black;
}
main h1 {
    text-shadow: none;
    color: black;
}
main::after {
    content: "Essa impressãofoifeita através do site www.cursoemvideo.com";
    text-decoration: ;
    }
}

@media screen and  (min-width: 481px) and (max-width: 768px){ /* TABLET */
 body {
    background-image: url(../back-tablet.jpg);
 }
    
img#phone {display: none;}
img#tablet {display: block;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}
}

@media screen and (min-width: 769px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../back-pc.jpg);
     }
img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: block;}
img#tv {display: none;}
}


@media screen and (min-width: 1200px) {
/* GRADES TELAS */
body {
    background-image: url(../back-tv.jpg);

 }
 main {
    width: 700px;
img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: block;}
}

